<!DOCTYPE html>

<html

        xmlns:th="http://www.thymeleaf.org"

        th:replace="layout/email-layout :: content">

<div>

    <h2>

        Reset Password

    </h2>

    <p>

        Hello

        <b th:text="${firstName}">

            User

        </b>

    </p>

    <p>

        We received a request
        to reset your password.

    </p>

    <p>

        Click below.

    </p>

    <p>

        <a

                th:href="${resetLink}"

                style="

background:#0d47a1;

color:white;

padding:14px 22px;

text-decoration:none;

border-radius:6px;">

            Reset Password

        </a>

    </p>

    <p>

        This link expires in

        <b>

            30 minutes

        </b>

    </p>

    <p>

        If you didn't request this,

        ignore this email.

    </p>

</div>

</html>