<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Password Reset</title>

</head>

<body
        style="
font-family:Arial;
padding:40px;
background:#f4f6f9">

<div
        style="
background:white;
padding:30px;
border-radius:10px">

    <h2>

        Apex Bank AI

    </h2>

    <p>

        Hello
        <b th:text="${firstName}">User</b>

    </p>

    <p>

        We received a request
        to reset your password.

    </p>

    <p>

        <a

                th:href="${resetLink}"

                style="
background:#0066ff;
padding:12px 22px;
color:white;
text-decoration:none;
border-radius:6px;">

            Reset Password

        </a>

    </p>

    <p>

        This link expires in

        <b>30 minutes</b>

    </p>

    <hr>

    <p>

        If you didn't request this,
        please ignore this email.

    </p>

</div>

</body>

</html>